@using GetFit.ViewModels;
@model HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<h1 style="font-size:3rem;" class="py-2">GetFit</h1>

@if (User.Identity.IsAuthenticated)
{

    <div>
        <div class="py-3" style="display:flex; justify-content:space-between; align-items:center">
            <h4>People</h4>
            <a class="btn btn-secondary" asp-area="" asp-controller="User" asp-action="Index">See All</a>
        </div>

        <div class="grid-con" style="grid-template-columns: 1fr 1fr 1fr 1fr 1fr;">
            @foreach (var user in Model.Users)
            {
                <div class="card d-flex align-items-center justify-content-evenly py-3" style="width: 13rem;">
                    <div style="display:flex; width:100px; height:100px; border-radius:50%; overflow:hidden;">
                        <img src="@user.ProfileImageUrl" alt="ProfileImg" />
                    </div>
                    <p class="p-2" style="text-align:center">@user.UserName</p>
                    <a class="btn btn-info" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">View</a>
                </div>
            }
        </div>
    </div>
}

<div class="my-3">
    @if (Model.Gyms.Count() > 0)
    {
        <h4 class="py-2">Gyms @Model.Gyms.Count() in @Model.City, @Model.State</h4>
        <div class="grid-con">
            @foreach (var item in Model.Gyms)
            {
                <div class="card" style="width: 17rem;">
                    <img src="@item.Image" class="card-img-top" alt="@item.Title">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <a class="btn btn-info" asp-controller="Gym" asp-action="Detail" asp-route-id="@item.Id">View</a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h4>There are not Gym</h4>
    }
</div>