@using GetFit.ViewModels;
@model UserDetailVM


<div class="profile my-4">
    <div class="profile-img">
        <div>
            <img class="profile-img-img" src="@Model.ProfileImageUrl" alt="Profile Image" />
        </div>
    </div>
    <div class="profile-desc">
        <div class="d-flex ">
            <h4 class="">@Model.UserName</h4>
            </div>
        <div>
            @if (Model.Name != null)
            {
                    <h2>@Model.Name</h2>
            }
            @if (Model.Weight != null)
            {
                    <p>Weight: @Model.Weight kg</p>
            }
            @if (Model.Height != null)
            {
                    <p>Height: @Model.Height cm</p>
            }
        </div>
    </div>
</div>
<div class="my-5">
    <h4>Gyms @Model.Gyms.Count()</h4>
    <div class="grid-con">
        @foreach (var item in Model.Gyms)
        {
            <div class="card" style="width: 17rem;">
                <img src="@item.Image" class="card-img-top" alt="@item.Title">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <a class="btn btn-info" asp-controller="Gym" asp-action="Detail" asp-route-id="@item.Id">View</a>
                    
                </div>
            </div>
        }
    </div>
</div>
