@using GetFit.ViewModels;
@model List<UserVM>

<h1>Users</h1>

<div>
    @foreach (var user in Model)
    {
        <div>
            <img src="@user.ProfileImageUrl" width="50" height="50" />
            <h4>@user.UserName</h4>
            @user.Weight && <p>Weight @user.Weight</p>
            @user.Height && <p>Height @user.Height</p>
            <div>
                <div>
                    <a asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">View</a>
                </div>            
            </div>
        </div>
    }
</div>