@model Gym
<div style="display:flex; justify-content:center;align-items:center; height:100%; width:100%">
    <div style="display:flex; justify-content:space-between; height:90%; width:90%; margin:auto">
        <div style="flex:1" >
            <img class="w-100 h-100" src="@Model.Image" />
        </div>
        <div style="flex:1" class="px-3">
            <h2>@Model.Title </h2>
            <p>Description: @Model.Description</p>
            <span style="font-size:1.3rem">Category: @Model.GymCategory</span>
            <h4>Location: @Model.Address.City</h4>
        </div>
    </div>
</div>